.pagination {
  margin: 150px 0 0 0;

  @media (max-width: 1199px) {
    margin: 6.0rem 0 0 0;
  }

  &__wrapper {

  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__more {
    margin: 0 0 3.0rem;
    font-size: 1.5rem;
    line-height: 1.2em;
    font-variant: all-small-caps;
    text-decoration: none;
    transition: $transition-default;

    @media (min-width: 1200px) {
      display: block;
      padding: 0.8rem 3.0rem;
      color: #ffffff;
      background: #000000;
      border: 0.1rem solid #000000;

      &:after {
        display: none !important;
      }

      &:hover, &:focus {
        color: #000000;
        background: #ffffff;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &__prev,
  &__next {
    width: 1em;
    height: 1.2em;
    padding: 0.23em 0;

    @media (max-width: 1199px) {
      margin: 0 2.5rem;
    }

    @media (max-width: 768px) {
      margin: 0 2.0rem;
    }

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: currentColor;
    }

    &._disabled {
      pointer-events: none;
      svg {
        fill: #d2d2d2;
      }
    }
  }

  &__prev {
    transform: rotate(180deg);
  }

  &__prev &__link,
  &__next &__link {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__item {
    margin: 0 1.5rem;
    font-size: 2.3rem;
    line-height: 1.2em;
    color: #000000;

    @media (max-width: 1199px) {
      font-size: 1.5rem;
    }

    @media (max-width: 768px) {
      margin: 0 1.0rem;
    }

    &._active {
      font-weight: 500;
    }

  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover, &:focus {
      color: inherit;
    }
  }

}