<div class="fullwidth-banner">
    <div class="swiper fullwidth-banner__slider">
        <div class="swiper-wrapper">
            @@loop("./_slide.html", [
            {"img": "img/main-banner-1.jpg", "title": "New collection’ 23"},
            {"img": "img/main-banner-2.jpg", "title": "New collection’ 24"},
            {"img": "img/main-banner-3.jpg", "title": "New collection’ 25"},
            ])
        </div>
    </div>
    <div class="swiper-pagination fullwidth-banner__pagination"></div>
</div>