.profile-info {

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 6.0rem;
    font-size: 2.9rem;
    line-height: 1.2em;
    font-variant: all-small-caps;
    text-align: center;
    color: #000000;
    
    @media (max-width: 1199px) {
      font-size: 1.9rem;
      font-variant: initial;
      text-align: left;
      text-transform: uppercase;
    }

    @media (max-width: 767px) {
      margin-bottom: 4.0rem;
      font-size: 1.4rem;
    }
  }
}

@media (max-width: 1199px) {
  .form-item._birthdate {
    order: 2;
  }
}