<div class="profile-info">
  <div class="container">
    <div class="profile-info__wrapper">
      <h1 class="profile-info__title">Личный кабинет</h1>
      @@include("../profile-sections/_profile-sections.html", {
      "items": [
      {"text": "Данные", "link": "/profile/info/", "selected": true},
      {"text": "Доставка", "link": "/profile/delivery/"},
      {"text": "Покупки", "link": "/profile/orders/"},
      {"text": "Избранное", "link": "/profile/like/"},
      {"text": "Выйти", "link": "?logout=Y", "class": "_exit"},
      ],
      })

      <form action="/profile/info/" class="profile-info__form">
        <div class="form-grid">
          <div class="form-item">
            <label for="firstname" class="form-label">Имя</label>
            <input type="text" class="form-input" id="firstname" name="firstname">
          </div>
          <div class="form-item">
            <label for="lastname" class="form-label">Фамилия</label>
            <input type="text" class="form-input" id="lastname" name="lastname">
          </div>
          <div class="form-item _short _birthdate">
            <label for="birthdate" class="form-label">Дата рождения</label>
            <input type="date" class="form-input" id="birthdate" name="birthdate">
          </div>
          <div class="form-item">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-input" id="email" name="email">
          </div>
          <div class="form-item">
            <label for="tel" class="form-label">Телефон</label>
            <input type="tel" class="form-input" id="tel" name="tel">
          </div>
          <div class="form-item _submit">
            <input type="submit" class="form-submit" id="save" name="save" value="сохранить изменения">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>