.catalog-section {

  &__wrapper {

  }

  &__title {
    font-size: 29px;
    line-height: 1.2em;
    color: #000000;
    margin-bottom: 60px;

    @media (max-width: 1199px) {
      margin-bottom: 30px;
      font-size: 23px;
      text-align: center;
    }
  }

  &__filter {
    margin: 60px 0;

    @media (max-width: 1199px) {
      margin: 15px 0;
    }

    @media (max-width: 767px) {
      margin: 10px 0;
    }
  }

  &__grids {

  }

  &__grid {
    margin: 0 0 120px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 120px 30px;

    @media (max-width: 1199px) {
      margin: 0 0 50px 0;
      grid-template-columns: repeat(2, calc(50% - 10px));
      grid-gap: 50px 20px;
    }
  }

  &__item {
    grid-column: span 3;

    @media (min-width: 1200px) {
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(14),
      &:nth-child(15),
      {
        grid-column: span 6;
      }

      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(16),
      &:nth-child(17),
      &:nth-child(18),
      {
        grid-column: span 4;
      }

      &:nth-child(5),
      &:nth-child(14),
      {
        padding-left: 86px;
      }

      &:nth-child(6),
      &:nth-child(15),
      {
        padding-right: 86px;
      }
    }

    @media (max-width: 1199px) {
      grid-column: span 1;

      &:nth-child(3),
      &:nth-child(8),
      &:nth-child(11),
      &:nth-child(16),
      {
        grid-column: span 2;
      }
    }

  }
}