<div class="catalog-section">
    <div class="container">
        <div class="catalog-section__wrapper">
            <h1 class="catalog-section__title">@@title</h1>
            @@if (useFilter) {
            <div class="catalog-section__filter">
                @@include("../catalog-filter/_catalog-filter.html")
            </div>
            }
            <div class="catalog-section__grids">
                <div class="catalog-section__grid">
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                    <div class="catalog-section__item">
                        @@include("../product-card/_product-card.html", {
                        "name": "Костюм трикотажный c двойным",
                        "img": "img/product-1.jpg",
                        "price": "7 890 р.",
                        "colors": {
                        "grey": "Серый",
                        "rosybrown": "Розово-коричневый",
                        "brown": "Коричневый",
                        },
                        "like": false,
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@if (showPagen) {
    @@include("../pagination/_pagination.html", {
    "loadMoreText": "18 товаров",
    "current": 1,
    "count": 12,
    })
    }
</div>
