.modal-filter {

  .modal__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 90px;

    @media (max-width: 1199px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 60px;
    }
  }

  &__title {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 23px;
    font-variant: all-small-caps;
    color: #000000;

    svg {
      margin-right: 10px;
      display: block;
      width: 22px;
      height: 22px;
      fill: #000000;
    }

    @media (max-width: 1199px) {
      top: 20px;
      left: 20px;
      font-size: 19px;
    }

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__form {
    margin-top: 30px;
    max-width: 500px;

    @media (max-width: 1199px) {
      margin-top: 20px;
    }

    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }

  &__group {
    margin-bottom: 60px;

    &-title {
      font-size: 19px;
      line-height: 1.2em;
      font-variant: all-small-caps;

      @media (max-width: 1199px) {
        font-size: 15px;
      }

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    hr {
      margin: 10px 0;
      border-color: #d2d2d2;
      opacity: 1;
    }

    @media (max-width: 1199px) {
      margin-bottom: 50px;
    }
  }

  &__list {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 15px 10px;

    @media (max-width: 1199px) {
      margin: 20px 0;
    }
  }

  &__item {
    font-size: 19px;
    line-height: 1.2em;
    font-variant: all-small-caps;
    overflow: hidden;

    span {
      overflow: hidden;
      width: calc(100% - 18px - 20px);
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: 767px) {
        margin-left: 10px !important;
        width: calc(100% - 12px - 10px);
      }
    }

    @media (max-width: 1199px) {
      font-size: 15px;
    }

    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__submit {
    position: absolute;
    top: auto;
    left: 30px;
    right: 30px;
    bottom: 30px;

    @media (max-width: 1199px) {
      left: 20px;
      right: 20px;
      bottom: 20px;
    }

    .form-submit {
      margin: 0;
    }
  }
}