.modal-filter {

  .modal__wrapper {
    padding-left: 3.0rem;
    padding-right: 3.0rem;
    padding-bottom: 9.0rem;

    @media (max-width: 1199px) {
      padding-left: 2.0rem;
      padding-right: 2.0rem;
      padding-bottom: 6.0rem;
    }
  }

  &__title {
    position: absolute;
    top: 3.0rem;
    left: 3.0rem;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 2.3rem;
    font-variant: all-small-caps;
    color: #000000;

    svg {
      margin-right: 1.0rem;
      display: block;
      width: 2.2rem;
      height: 2.2rem;
      fill: #000000;
    }

    @media (max-width: 1199px) {
      top: 2.0rem;
      left: 2.0rem;
      font-size: 1.9rem;
    }

    @media (max-width: 767px) {
      font-size: 1.8rem;
    }
  }

  &__form {
    margin-top: 3.0rem;
    max-width: 500px;

    @media (max-width: 1199px) {
      margin-top: 2.0rem;
    }

    @media (max-width: 767px) {
      margin-top: 3.0rem;
    }
  }

  &__group {
    margin-bottom: 6.0rem;

    &-title {
      font-size: 1.9rem;
      line-height: 1.2em;
      font-variant: all-small-caps;

      @media (max-width: 1199px) {
        font-size: 1.5rem;
      }

      @media (max-width: 767px) {
        font-size: 1.4rem;
      }
    }

    hr {
      margin: 1.0rem 0;
      border-color: #d2d2d2;
      opacity: 1;
    }

    @media (max-width: 1199px) {
      margin-bottom: 5.0rem;
    }
  }

  &__list {
    margin: 3.0rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1.5rem 1.0rem;

    @media (max-width: 1199px) {
      margin: 2.0rem 0;
    }
  }

  &__item {
    font-size: 1.9rem;
    line-height: 1.2em;
    font-variant: all-small-caps;
    overflow: hidden;

    span {
      overflow: hidden;
      width: calc(100% - 1.8rem - 2.0rem);
      text-overflow: ellipsis;
      white-space: nowrap;

      @media (max-width: 767px) {
        margin-left: 1.0rem !important;
        width: calc(100% - 1.2rem - 1.0rem);
      }
    }

    @media (max-width: 1199px) {
      font-size: 1.5rem;
    }

    @media (max-width: 767px) {
      font-size: 1.4rem;
    }
  }

  &__submit {
    position: absolute;
    top: auto;
    left: 3.0rem;
    right: 3.0rem;
    bottom: 3.0rem;

    @media (max-width: 1199px) {
      left: 2.0rem;
      right: 2.0rem;
      bottom: 2.0rem;
    }

    .form-submit {
      margin: 0;
    }
  }
}