// variables
$primary-font-family: 'TT Norms Pro Trial', sans-serif;
$primary-font-size: 1.6rem;
$primary-line-height: 1.38;
$primary-color: #000000;
$white-color: #FFFFFF;
$brand-primary-color: #4E106F;
$brand-secondary-color: #E8145A;
$grey-color: rgba(0, 0, 0, 0.1);
$light-grey-color: #F7F7F8;

:root {
  --white: #FFFFFF;
  --black: #0D0D0D;
  --grey: #D9D9D9;
  --grey-2: #797979;
  --text-accent: #A37E88;
}

$transition-default: 0.25s ease-in-out;

$cos_bp: 1440px;
$xl-bp: 1024px;
$sm-bp: 500px;

@mixin breakpoint($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1512 * 10);

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 768 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 390 * 10);
  }
}

:root {
    --app-height: 1vh;
}

body {
    position: relative;
    overflow-x: hidden;
    font-family: $primary-font-family;
    font-size: $primary-font-size;
    line-height: $primary-line-height;
    color: $primary-color;
}

ul,
ol,
li {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
    line-height: 1.4;
}

p {
    margin: 0;
}

a {
    display: inline-block;
    color: $primary-color;
    text-decoration: none;
    transition: all $transition-default;

    &:hover {
        text-decoration: none;
        color: $primary-color;
    }

    &:active {
        color: $primary-color;
    }
}

input[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
        appearance: none;
        margin: 0;
    }
}

picture {
    display: block;
}

img {
    max-width: 100%;
}

svg {
    transition: all $transition-default;
}