@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Rg.eot');
  src: local('TT Norms Pro Trial Regular'), local('TTNormsProTrial-Rg'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Rg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Rg.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Rg.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-ThIt.eot');
  src: local('TT Norms Pro Trial Thin Italic'), local('TTNormsProTrial-ThIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-ThIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-ThIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-ThIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-ThIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial Normal';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Normal.eot');
  src: local('TT Norms Pro Trial Normal'), local('TTNormsProTrial-Normal'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Normal.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Normal.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Normal.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Th.eot');
  src: local('TT Norms Pro Trial Thin'), local('TTNormsProTrial-Th'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Th.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Th.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Th.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Th.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial ExtraBlack';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlk.eot');
  src: local('TT Norms Pro Trial ExtraBlack'), local('TTNormsProTrial-XBlk'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlk.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlk.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlk.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Md.eot');
  src: local('TT Norms Pro Trial Medium'), local('TTNormsProTrial-Md'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Md.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Md.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Md.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLt.eot');
  src: local('TT Norms Pro Trial ExtraLight'), local('TTNormsProTrial-XLt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLt.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBd.eot');
  src: local('TT Norms Pro Trial ExtraBold'), local('TTNormsProTrial-XBd'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBd.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBd.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-MdIt.eot');
  src: local('TT Norms Pro Trial Medium Italic'), local('TTNormsProTrial-MdIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-MdIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-MdIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-MdIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-MdIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-It.eot');
  src: local('TT Norms Pro Trial Italic'), local('TTNormsProTrial-It'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-It.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-It.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-It.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BdIt.eot');
  src: local('TT Norms Pro Trial Bold Italic'), local('TTNormsProTrial-BdIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BdIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BdIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BdIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Lt.eot');
  src: local('TT Norms Pro Trial Light'), local('TTNormsProTrial-Lt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Lt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Lt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Lt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLtIt.eot');
  src: local('TT Norms Pro Trial ExtraLight Italic'), local('TTNormsProTrial-XLtIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLtIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLtIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLtIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XLtIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial ExtraBlack';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlkIt.eot');
  src: local('TT Norms Pro Trial ExtraBlack Italic'), local('TTNormsProTrial-XBlkIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlkIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlkIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlkIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBlkIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BlkIt.eot');
  src: local('TT Norms Pro Trial Black Italic'), local('TTNormsProTrial-BlkIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BlkIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BlkIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BlkIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-BlkIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-LtIt.eot');
  src: local('TT Norms Pro Trial Light Italic'), local('TTNormsProTrial-LtIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-LtIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-LtIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-LtIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-LtIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Bd.eot');
  src: local('TT Norms Pro Trial Bold'), local('TTNormsProTrial-Bd'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Bd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Bd.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Bd.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBdIt.eot');
  src: local('TT Norms Pro Trial ExtraBold Italic'), local('TTNormsProTrial-XBdIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBdIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBdIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBdIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-XBdIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Blk.eot');
  src: local('TT Norms Pro Trial Black'), local('TTNormsProTrial-Blk'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Blk.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Blk.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Blk.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-Blk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial Normal';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-NormalIt.eot');
  src: local('TT Norms Pro Trial Normal Italic'), local('TTNormsProTrial-NormalIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-NormalIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-NormalIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-NormalIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-NormalIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBd.eot');
  src: local('TT Norms Pro Trial DemiBold'), local('TTNormsProTrial-DmBd'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBd.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBd.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBd.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBd.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Norms Pro Trial';
  src: url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBdIt.eot');
  src: local('TT Norms Pro Trial DemiBold Italic'), local('TTNormsProTrial-DmBdIt'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBdIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBdIt.woff2') format('woff2'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBdIt.woff') format('woff'),
  url('../fonts/TT-Norms-Pro-Trial/TTNormsProTrial-DmBdIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

