@import "fonts";
@import "config";
@import "components";

::-webkit-scrollbar {
  width: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;

  &__content {
    flex: 1 1 100%;
  }
}

.scroll-disabled {
  overflow: hidden;
}

.container {
  padding: 0 9.0rem;
  width: 100%;

  &._fill {
    max-width: initial;
  }

  @media (max-width: 1199px) {
    padding: 0 4.0rem;
  }

  @media (max-width: 767px) {
    padding: 0 2.0rem;
  }
}

.animated-underline {
  &:after {
    content: '';
    display: block;
    margin-top: -1px;
    width: 0;
    height: 0.1rem;
    background: currentColor;
    transition: $transition-default;
  }

  &:hover,
  &:focus,
  &._active {
    &:after {
      width: 100%;
    }
  }
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background: rgba(217, 217, 217, 0.7);
  transition: $transition-default;

  &._active {
    width: 100vw;
  }
}

.modal {
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  overflow: hidden;
  padding: 0;
  display: block;
  min-width: 0;
  width: auto;
  max-width: 0;
  min-height: 0;
  height: auto;
  max-height: 0;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0 0 1.0rem rgba(217, 217, 217, 0.7);
  transition: $transition-default;

  &._active {
    min-width: min(1200px, 100vw);
    max-width: 100vw;
    max-height: 100vh;
    max-height: calc(var(--app-height, 1vh) * 100);
  }

  &._right,
  &._left {
    top: 0;
    bottom: 0;
    min-width: min(520px, 100vw);
    max-width: 100vw;
    min-height: 100vh;
    min-height: calc(var(--app-height, 1vh) * 100);
    max-height: 100vh;
    max-height: calc(var(--app-height, 1vh) * 100);
  }

  &._left {
    left: -110%;
    right: auto;
    transform: none;

    &._active {
      left: 0;
    }
  }

  &._right {
    left: auto;
    right: -110%;
    transform: none;

    &._active {
      right: 0;
    }
  }

  &__close {
    position: absolute;
    top: 3.0rem;
    left: auto;
    right: 3.0rem;
    bottom: auto;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;

    @media (max-width: 1199px) {
      top: 2.0rem;
      right: 2.0rem;
    }

    @media (max-width: 767px) {
      width: 2.2rem;
      height: 2.2rem;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      display: block;
      width: 100%;
      height: 0.1rem;
      background: #000000;
      border-radius: 0.1rem;
      transition: $transition-default;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {

      &:before,
      &:after {
        transform: translate(-50%, -50%)
      }
    }

  }

  &__wrapper {
    overflow: auto;
    padding: 9.0rem 6.0rem 6.0rem;
    max-width: inherit;
    max-height: inherit;

    @media (max-width: 767px) {
      padding: 4.0rem 2.0rem 2.0rem;
    }
  }
}

.form {
  &-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 3.0rem 1.0rem;

    @media (max-width: 1199px) {
      grid-gap: 3.0rem 2.0rem;
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: 767px) {
      grid-gap: 2.0rem 1.0rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-item {
    grid-column: span 4;

    &._short {
      grid-column: span 2;
    }

    &._big {
      grid-column: span 6;
    }

    &._submit {
      grid-column: 1 / span 4;
      order: 99;
    }

    @media (max-width: 1199px) {
      grid-column: span 3;

      &._big {
        grid-column: span 6;
      }

      &._submit {
        grid-column: 1 / span 6;
      }
    }

    @media (max-width: 767px) {
      grid-column: span 2;

      &._big {
        grid-column: span 2;
      }

      &._submit {
        grid-column: 1 / span 2;
      }
    }
  }

  &-label {
    margin-bottom: 1.5rem;
    display: block;
    font-size: 1.5rem;
    line-height: 1.2em;
    color: #000000;
    cursor: pointer;

    @media (max-width: 767px) {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    &-checkbox {
      display: flex;
      align-items: center;
      max-width: 18rem;
      font-size: 1.5rem;
      line-height: 1.2em;
      color: #000000;
      cursor: pointer;

      span {
        margin-left: 1rem
      }

      @media (max-width: 767px) {
        font-size: 1.2rem;

        span {
          margin-left: 1.5rem;
        }
      }
    }
  }

  &-input {
    padding: 1.2rem 2.0rem;
    display: block;
    width: 100%;
    font-size: 1.9rem;
    line-height: 1.2em;
    color: #000000;
    border: 0.1rem solid #d2d2d2;
    border-radius: 0;
    appearance: none;
    background: #fff;
    outline: none;
    transition: $transition-default;

    &::placeholder {
      color: #797979;
    }

    &:focus {
      border-color: #000000;
    }

    &-checkbox {
      display: block;
      width: 1.2rem;
      height: 1.2rem;
      font-size: 1.8rem;
      border: 0.1rem solid #000000;
      border-radius: 0;
      appearance: none;
      flex-shrink: 0;
      transition: $transition-default;

      &[type="radio"] {
        border-radius: 1em;
        @include breakpoint($sm-bp) {
          border-radius: 0;
        }
      }

      &:checked {
        background: #000;
      }

      @media (max-width: 1199px) {
        font-size: 1.5rem;
      }

      @media (max-width: 767px) {
        font-size: 1.2rem;
      }
    }

    @media (max-width: 1199px) {
      font-size: 1.5rem;
    }

    @media (max-width: 767px) {
      padding: 0.7rem 0.7rem;
      font-size: 1.2rem;
      border: none;
      border-bottom: 0.1rem solid #d2d2d2;
    }
  }

  &-submit {
    margin: 3.0rem 0;
    padding: 1.5rem 3.0rem;
    display: block;
    width: 100%;
    max-width: 50rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background: #000000;
    border: 0.1rem solid #000000;
    border-radius: 0;
    appearance: none;
    transition: $transition-default;

    &:hover,
    &:focus {
      background: #ffffff;
      color: #000000;
    }

    @media (max-width: 1199px) {
      margin: 3.0rem auto;
      font-variant: all-small-caps;
      text-transform: initial;
      padding: 1.2rem 2.4rem;
    }

    @media (max-width: 767px) {
      font-size: 1.4rem;
    }
  }
}








.delivery-wrapper {
  display: grid;
  grid-template-columns: 2fr 0.72fr;
  gap: 10rem;

  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column-reverse;
    gap: 4rem;
  }

  @include breakpoint($sm-bp) {
    gap: 3rem;
  }
}

.delivery-aside {
  @include breakpoint($xl-bp) {
    margin-top: 2rem;
  }
}

.delivery-aside-list {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 2.3rem;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include breakpoint($xl-bp) {
    font-size: 1.5rem;
    line-height: 1.8rem;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }

  @include breakpoint($sm-bp) {
    font-size: 1rem;
  }

  li {
    position: relative;

    &::before {
      content: '';
      width: 0.3rem;
      height: 0.3rem;
      background-color: #000000;
      position: absolute;
      top: 1rem;
      left: -1.2rem;
      border-radius: 100%;
      opacity: 0;

      @include breakpoint($xl-bp) {
        left: 0;
        top: 0.7rem;
      }
    }
  }

  a {
    color: #797979;
  }

  .active {
    @include breakpoint($xl-bp) {
      padding-left: 1.2rem;
    }

    &::before {
      opacity: 1;
    }

    a {
      color: #000000;
    }
  }
}

.delivery-aside-info {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;

  color: #797979;
  margin-top: 6rem;
  max-width: 26.5rem;

  @include breakpoint($xl-bp) {
    display: none;
  }

  p {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

}

.delivery {
  padding-left: 11rem;

  @include breakpoint($xl-bp) {
    padding-left: 0;
  }
}

.delivery-title {
  font-size: 2.9rem;
  font-weight: 500;
  line-height: 3.5rem;

  text-transform: uppercase;

  @include breakpoint($xl-bp) {
    color: var(--color-black, #000);
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;

    text-align: center;
  }

  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}

.delivery-block {
  margin-top: 3rem;

  font-size: 2.3rem;
  font-weight: 400;
  line-height: 2.8rem;

  @include breakpoint($xl-bp) {
    color: #000;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @include breakpoint($sm-bp) {
    color: #000;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p {
    margin-bottom: 1.5rem;

    @include breakpoint($sm-bp) {
      margin-bottom: 1rem;
    }

    strong {
      font-weight: 600;
      letter-spacing: -0.01em;
    }
  }



  ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    @include breakpoint($sm-bp) {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    li {
      padding-left: 3.5rem;
      position: relative;

      @include breakpoint($xl-bp) {
        padding-left: 2.5rem;
      }

      @include breakpoint($sm-bp) {
        padding-left: 1.8rem;
      }

      &::before {
        content: '';
        width: 0.4rem;
        height: 0.4rem;
        background-color: #000000;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        border-radius: 100%;

        @include breakpoint($xl-bp) {
          width: 0.2rem;
          height: 0.2rem;
          top: 0.6rem;
          left: 0.8rem;
        }
      }
    }
  }

  &>* {
    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    margin-bottom: 3rem;
    margin-top: 8rem;
    font-size: 2.3rem;
    font-weight: 500;
    line-height: 2.8rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;

    @include breakpoint($xl-bp) {
      color: #000;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      text-transform: uppercase;

      margin-bottom: 2rem;
    }

    @include breakpoint($sm-bp) {
      color: #000;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
      text-transform: uppercase;
      margin-top: 4rem;
    }
  }

  h3 {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 2.8rem;
    text-transform: uppercase;

    margin-top: 6rem;
    margin-bottom: 3rem;

    @include breakpoint($xl-bp) {
      color: #000;
      font-size: 2.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-variant: all-small-caps;

    }

    @include breakpoint($sm-bp) {
      color: #000;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      font-variant: all-small-caps;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }
}

.sm-hidden {
  @include breakpoint($sm-bp) {
    display: none;
  }
}

.sm-block {
  display: none;

  @include breakpoint($sm-bp) {
    display: block;
  }
}

.delivery-breadcrumbs {
  @include breakpoint($xl-bp) {
    display: none;
  }
}

.delivery-aside-mobile {
  display: none;

  @include breakpoint($xl-bp) {
    margin-top: 2rem;
    display: block;
    color: var(--color-gray-2, #797979);
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @include breakpoint($sm-bp) {
    color: var(--color-gray-2, #797979);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  p {
    margin-bottom: 2rem;
  }

  a {
    color: var(--color-gray-2, #797979);
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.empty-text {
  color: var(--color-black, #000);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include breakpoint($xl-bp) {
    color: var(--color-black, #000);
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.directory-text {
  color: var(--text-gray-2, #797979);
  font-size: 2.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2rem;

  @include breakpoint($xl-bp) {
    color: var(--color-gray-2, #797979);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
  }

  @include breakpoint($sm-bp) {
    color: var(--color-gray-2, #797979);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.favorite-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
  column-gap: 3.15rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    column-gap: 2rem;
  }

  @include breakpoint($sm-bp) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.1rem;
  }

  .product-card__name {
    @include breakpoint($sm-bp) {
      width: 15rem;
    }
  }
}

.thanks,
.notFoud {
  margin-top: 12rem;
  margin-bottom: 12rem;

  @include breakpoint($xl-bp) {
    margin-top: 5rem;
  }

  @include breakpoint($sm-bp) {
    margin-top: 4rem;
  }
}

.notFound-title {
  color: var(--color-black, #000);
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 6.4rem */
  font-variant: all-small-caps;
  letter-spacing: -0.192rem;
  display: flex;
  flex-direction: column;

  @include breakpoint($xl-bp) {
    color: var(--color-black, #000);
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 4rem */
    font-variant: all-small-caps;
    letter-spacing: -0.12rem;
  }

  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 2.4rem */
    font-variant: all-small-caps;
    letter-spacing: -0.072rem;
  }
}

.notFound-subtitle {
  color: var(--color-black, #000);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 3rem;

  @include breakpoint($xl-bp) {
    color: var(--color-black, #000);
    font-family: TT Norms Pro;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }

  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-family: TT Norms Pro;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 2rem;
    text-transform: none;
  }
}

.notFound-link {
  margin-top: 6rem;
  color: var(--color-white, #FFF);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 1.1rem 5rem;
  width: 100%;
  max-width: 32.6rem;
  background-color: #000000;
  display: flex;
  align-content: center;
  justify-content: center;

  @include breakpoint($xl-bp) {
    margin-top: 5rem;
    color: var(--color-white, #FFF);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    max-width: 23.8rem;
  }

  @include breakpoint($sm-bp) {
    margin-top: 4rem;
    color: var(--color-white, #FFF);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    max-width: 17rem;
    padding: 1.2rem 3rem;
  }
}

.thanks-subtitle {
  color: var(--color-black, #000);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-family: TT Norms Pro;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  a {
    color: var(--color-black, #000);
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
  }
}

.filt {
  display: flex;
  flex-direction: column;
}

.filt-form {
  width: 100%;

  @include breakpoint($sm-bp) {
    position: absolute;
    z-index: 100;
  }
}

.filt-tab {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.3rem;
  color: #797979;
  text-transform: uppercase;

  min-width: 18.2rem;
  padding: 0;
  padding-bottom: 0.3rem;
  border: 0;
  border-bottom: 0.1rem solid #797979;
  text-align: start;
  transition: .3s;
  background-color: transparent;
  @include breakpoint($xl-bp) {
    min-width: 10.9rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8rem;
    
  }
  &.active {
    border-color: #000000;
    color: #000000;
  }
}

.filt-head {
  display: flex;
  flex-wrap: wrap;
  gap: 4.2rem;

  @include breakpoint($sm-bp) {
    display: none;
  }
}

.filt-tab:after {}

.filt-tab:hover:after {}

.tabcontent {
  padding-top: 4rem;
  min-height: 17rem;
  padding-bottom: 4rem;
  @include breakpoint($sm-bp) {
    min-height: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.tabcontent .description {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 1.5rem 13.8rem;
  height: min-content;
  @include breakpoint($sm-bp) {
    gap: 1.5rem 2.9rem;
  }

  &.radio {
    @include breakpoint($sm-bp) {
      display: flex;
      flex-direction: column;
    }
  }
}

.tabcontent .description {
  animation: fadeEffect .3s;
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.filt .hide {
  display: none;
}

.filt .show {
  display: flex;
}

.filt-submit {
  display: none;
}

.newModal {
  background-color: var(--white);
  animation: fadeEffect .3s;
  @include breakpoint($sm-bp) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: none;
    padding: 2rem;
    padding-top: 8rem;
    padding-bottom: 12rem;
    overflow: auto;
  }

  &.open {
    @include breakpoint($sm-bp) {
      display: block;
    }

    .tabcontent {
      @include breakpoint($sm-bp) {
        display: block;
      }
    }
  }
}

.newModal-head {
  display: none;

  @include breakpoint($sm-bp) {
    display: block;
  }
}

.filt-content {
  position: relative;
}

.filt-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.custom-submit-wrapper {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
    margin-top: auto;
    padding-top: 4rem;
    position: fixed;
    bottom: 6rem;
    left: 2rem;
    width: calc(100% - 4rem);
  }
}
.custom-submit {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
    width: 100%;
    padding: 1.35rem;
    background-color: #000000;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    letter-spacing: 0em;
    text-align: center;
    margin-top: auto;
    border: 0;
  }
}

.newModal-head {
  position: absolute;
  top: 3.0rem;
  left: 3.0rem;
  display: none;
  align-items: center;
  font-weight: 400;
  font-size: 2.3rem;
  font-variant: all-small-caps;
  color: #000000;

  svg {
    margin-right: 1.0rem;
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    fill: #000000;
  }

  @media (max-width: 1199px) {
    top: 2.0rem;
    left: 2.0rem;
    font-size: 1.9rem;
  }

  @media (max-width: 767px) {
    font-size: 1.8rem;
    display: flex;
  }
}

.newModal-close {
  position: absolute;
  top: 3.0rem;
  left: auto;
  right: 3.0rem;
  bottom: auto;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: 0;
  @media (max-width: 1199px) {
    top: 2.0rem;
    right: 2.0rem;
  }

  @media (max-width: 767px) {
    width: 2.2rem;
    height: 2.2rem;
  }
  @include breakpoint($sm-bp) {
    display: block;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    display: block;
    width: 100%;
    height: 0.1rem;
    background: #000000;
    border-radius: 0.1rem;
    transition: $transition-default;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {

    &:before,
    &:after {
      transform: translate(-50%, -50%)
    }
  }
}

.tab-content-subtitle {
  display: none;
  @include breakpoint($sm-bp) {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;  
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 1rem;
    text-transform: uppercase;

    border-bottom: 0.1rem solid #D2D2D2;
    margin-bottom: 2rem;
  }
}

.tabcontent + .tabcontent {
  @include breakpoint($sm-bp) {
    margin-top: 5rem;
  }
}

.order-wrapper {

}
.order-form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2rem;
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column;
    gap: 6.3rem;
  }
  @include breakpoint($sm-bp) {
    gap: 2rem;
  }
}
.order-title {
  display: none;
  @include breakpoint($xl-bp) {
    display: block;
    color: var(--color-black, #000);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
}
.form-left {
  grid-column: 6 span;
  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .form-block:first-child {
    .form-block-title.active {
      padding-top: 0;
      border-top: 0;
    }
  }
}
.form-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 0;
  column-gap: 1rem;

  &:first-child {
    .form-block-title {
      margin-top: 0;
    }
  }
}
.form-block-title {
  grid-column: 1 / -1;

  font-size: 2.1rem;
  font-weight: 400;
  line-height: 2.8rem;
  letter-spacing: 0em;
  text-align: left;
  
  margin-top: 6rem;
  text-transform: uppercase;
  @include breakpoint($xl-bp) {
    margin-top: 5rem;
  }
  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    &::after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_361_2466' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect x='15' width='15' height='15' transform='rotate(90 15 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_361_2466)'%3E%3Cpath d='M1.71925 4.49902L2.563 3.65527L7.50025 8.59252L12.4375 3.65527L13.2812 4.49902L7.50025 10.28L1.71925 4.49902Z' fill='%23797979'/%3E%3C/g%3E%3C/svg%3E%0A");
      width: 2rem;
      height: 2rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      flex: 0 0 auto;
      transition: transform .3s;
      transform: rotate(180deg);
    }

    &.selected {
      @include breakpoint($sm-bp) {
        & ~ .form-block-selected {
          display: block;
        }
      }
    }

    &.active {
      @include breakpoint($sm-bp) {
        border-top: 0.1rem solid #D2D2D2;
        padding-top: 3rem;
        & ~ .form-block-selected {
          display: none;
        }

        & ~ .form-block-wrapper .form-block-buttons {
          padding-bottom: 3rem;
          border-bottom: 0.1rem solid #D2D2D2;
        }
      }
      &::after {
        transform: rotate(0);
      }
      & + .form-block-wrapper {
        @include breakpoint($sm-bp) {
          grid-template-rows: 1fr;
        }
      }
    }

  }
}

.form-block-wrapper {
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-rows: 0fr;
    // transition: grid-template-rows .3s;
  }
}

.input-wrapper {
  position: relative;
  @include breakpoint($sm-bp) {
    margin-top: 1rem;
  }
  &.error {
    input {
      border-color: #DF5050;
    }
    &::after {
      content: attr(data-error);
      color: var(--color-red, #DF5050);
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      animation: fadeEffect .3s;
    }
  }
  input {
    height: 5rem;
    @include breakpoint($sm-bp) {
      height: 4rem;
    }
  }
  input,
  textarea {
    width: 100%;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 2.3rem;
    letter-spacing: 0em;
    text-align: left;
    padding: 1.3rem 2rem;

    border: 0.1rem solid #D2D2D2;
    &:focus {
      border-color: #000000;
      outline: none;
    }
  }

  textarea {
    resize: none;
    height: 10rem;
  }
}
.input-placeholder {
  color: var(--color-black, #000);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 1.5rem;
  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.input-radio-wrapper {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  position: relative;
  @include breakpoint($sm-bp) {
    display: flex;
    flex-direction: column;
  }
  .radio-box {
    display: none;
    @include breakpoint($sm-bp) {
      width: 1.2rem;
      height: 1.2rem;
      border: 0.1rem solid #000000;
      display: block;
      border-radius: 100%;
      flex: 0 0 auto;
    }
  }
  label {
    @include breakpoint($sm-bp) {
      display: flex;
      align-items: baseline;
      gap: 1.5rem;
    }
  }
  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;

    &:checked ~ .radio-block {
      background-color: #000000;
      border-color: #000000;
      @include breakpoint($sm-bp) {
        background-color: unset;
        border-color: unset;
      }

      .radio-name, .radio-info {
        color: #ffffff;
        @include breakpoint($sm-bp) {
          color: #000000;
        }
      }
    }
    &:checked ~ .radio-box {
      background-color: #000000;
    }
  }

  &.min-h-5 {
    @include breakpoint($sm-bp) {
      margin-top: 2rem;
    }
    .radio-block {
      min-height: 5rem;
      @include breakpoint($sm-bp) {
        min-height: 0;
      }
    }
  }
}

.my-30 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.radio-block {
  border: 0.1rem solid #D2D2D2;
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: .3s;
  gap: 0.8rem;
  @include breakpoint($sm-bp) {
    border: 0;
    display: inline;
    min-height: 0;
    max-width: 24.9rem;
    & > * {
      &::before {
        content: '/';
      }
      &:first-child {
        &::before {
          content: unset;
        }
      }
    }
  }
}
.radio-name {
  text-align: center;
  color: var(--color-gray-2, #797979);
  text-align: center;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.radio-info {
  text-align: center;
  color: var(--color-gray-2, #797979);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.col-span-full {
  grid-column: 1 / -1;
}
.col-span-3 {
  grid-column: 3 span;
  @include breakpoint($sm-bp) {
    grid-column: 1 / -1;
  }
}

.col-span-2 {
  grid-column: 2 span;
  @include breakpoint($sm-bp) {
    grid-column: 3 span;
  }
}

.sm-col-span-full {
  @include breakpoint($sm-bp) {
    grid-column: 1 / -1;
  }
}

.form-right {
  grid-column: 8 / 13;

  & ~ .form-checkbox {
    @include breakpoint($sm-bp) {
      display: none;
    }
  }

  &.open ~ .form-checkbox {
    @include breakpoint($sm-bp) {
      display: flex;
    }
  }
  
  .form-block-title {
    margin-top: 0;
  }

  .modal-basket__title {
  }
  .modal-basket__list {
    max-height: 31.9rem;
    overflow: auto;
    padding-right: 2rem;
    margin-top: 2rem;
    &::-webkit-scrollbar {
      width: 0.2rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }
    &::-webkit-scrollbar-track {
      background-color: #D2D2D2;
    }
  }
  .modal-basket__item {
    grid-template-columns: max-content repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 0;

    margin-top: 1.5rem;
  }
  .modal-basket__item-image {
    width: 9rem;
    height: 12rem;
  }
  .modal-basket__item-info {
  }
  .modal-basket__item-top {
  }
  .modal-basket__item-name {
    max-width: 14.9rem;

    color: var(--color-black, #000);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-variant: all-small-caps;
  }
  .modal-basket__item-delete {
  }
  .animated-underline {
  }
  .modal-basket__item-artnumber {
  }
  .modal-basket__item-props {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .modal-basket__item-prop {
    margin-top: 0;
  }
  .modal-basket__item-bottom {
  }
  .modal-basket__item-quantity {
  }
  .modal-basket__item-decrease {
  }
  .modal-basket__item-increase {
  }
  .modal-basket__item-price {
  }
  .old-price {
  }
  .current-price {
  }
  .modal-basket__summary {
    @include breakpoint($sm-bp) {
      margin-top: 3rem;
    }
  }
  .modal-basket__summary-price {
  }
  .modal-basket__button {
    @include breakpoint($xl-bp) {
      max-width: 49.6rem;
      margin: 0 auto;
    }
  }
}


.text-red {
  color: #DF5050;
}

.form-checkbox {
  .form-label-checkbox {
    max-width: 100%;
    color: #000;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @include breakpoint($sm-bp) {
      color: #000;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--color-black, #000);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
  @include breakpoint($sm-bp) {
    color: var(--color-black, #000);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  & > * {
    &:last-child {
      font-weight: 500;
    }
  }
}

.grid-cols-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

.form-block-inner {
  overflow: hidden;
  row-gap: 3rem;
  margin-top: 3rem;
  @include breakpoint($sm-bp) {
    row-gap: 0;
    margin-top: 0;
  }
}

.order-submit {
  margin: 3.0rem 0;
  padding: 1.5rem 3.0rem;
  display: block;
  width: 100%;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #000000;
  border: 0.1rem solid #000000;
  border-radius: 0;
  appearance: none;
  transition: $transition-default;

  &:hover,
  &:focus {
    background: #ffffff;
    color: #000000;
  }

  @media (max-width: 1199px) {
    margin: 3.0rem auto;
    font-variant: all-small-caps;
    text-transform: initial;
    padding: 1.2rem 2.4rem;
    max-width: 50rem;
  }

  @media (max-width: 767px) {
    font-size: 1.4rem;
  }
  @include breakpoint($sm-bp) {
    margin-bottom: 2rem;
  }
}

.form-block-buttons {
  display: none;
  @include breakpoint($sm-bp) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1 / -1;
    gap: 1rem;
  }
}

.form-block-selected {
  display: none;
  @include breakpoint($sm-bp) {
    color: var(--color-gray-2, #797979);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 1 / -1;
    margin-top: 2rem;
    animation: fadeEffect .3s;
  }

  & > * {
    margin-top: 0.5rem;
    &:first-child {
      margin-top: 0;
    }
  }
}

.prev {
  @include breakpoint($sm-bp) {
    display: flex;
    max-width: 17rem;
    width: 100%;
    height: 4.4rem;
    padding: 1.2rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    margin-top: 3rem;
    border: 0.1rem solid #000000;
  }
}

.next {
  @include breakpoint($sm-bp) {
    display: flex;
    max-width: 17rem;
    width: 100%;
    height: 4.4rem;
    padding: 1.2rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-shrink: 0;
  
    background-color: #000000;
    color: #ffffff;
    color: var(--color-white, #FFF);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-variant: all-small-caps;
    margin-top: 3rem;

    grid-column: 2 / 3;
    border: 0.1rem solid #000000;
  }
}

.mt-5 {
  margin-top: 5rem;
  @include breakpoint($xl-bp) {
    margin-top: 1rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 0;
  }
}