.modal-size-table {

  &__title {
    margin-bottom: 8.0rem;
    font-size: 2.3rem;
    line-height: 1.2em;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    
    @media (max-width: 767px) {
      font-size: 1.8rem;
      margin-bottom: 6.0rem;
    }
  }

  &__item {
    margin: 0 auto 6.0rem;
    max-width: 70rem;

    &-title {
      margin-bottom: 6.0rem;
      font-size: 1.9rem;
      line-height: 1.2em;
      text-align: center;
      text-transform: uppercase;
      color: #000000;

      @media (max-width: 767px) {
        font-size: 1.8rem;
        margin-bottom: 4.0rem;
      }
    }

    &-table {
      margin-bottom: 3.0rem;
      width: 100%;
      font-size: 1.9rem;
      line-height: 1.2em;
      text-transform: uppercase;
      border-collapse: collapse;
      color: #000000;
      white-space: nowrap;

      @media (max-width: 767px) {
        margin-bottom: 4.0rem;
        font-size: 1.4rem;
      }

      tr {
        border-bottom: 0.1rem solid #D2D2D2;

        @media (max-width: 767px) {
          border: none;
        }
        
        &._current {
          background: #D2D2D2;

          @media (max-width: 767px) {
            background: none;
          }
        }
      }

      th {
        padding: 1em 1em 3.0rem 1em;
        font-weight: 400;
        color: #797979;
        text-align: center;

        &:first-child {
          padding-left: 0;
          font-weight: 500;
          color: #000000;
          text-align: left;
        }
      }

      td {
        padding: 1em;
        text-align: center;
        color: #000000;

        &:first-child {
          padding-left: 1.2em;
          font-weight: 500;
          text-align: left;
        }

        &:last-child {
          padding-right: 1.2em;
        }
      }

      &._centered {
        table-layout: fixed;
        width: 100%;

        th:first-child {
          padding-left: 1em;
          text-align: center;
        }

        td:first-child {
          text-align: center;
        }
      }
    }
  }

  &__current-size,
  &__current-height {
    margin: 1.0rem 0;
    font-size: 2.3rem;
    line-height: 1.2em;
    color: #000000;

    @media (max-width: 767px) {
      font-size: 1.4rem;
    }

    span {
      text-transform: uppercase;
    }
  }
}