<div class="product-line">
  <div class="container">
    <h2 class="product-line__title">Новинки</h2>
    <div class="swiper product-line__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide product-line__slide">
          @@include("../product-card/_product-card.html", {
          "name": "Джинсы трубы (разрезы по бокам и на коленях)",
          "img": "img/product-1.jpg",
          "price": "7 890 р.",
          "colors": ["grey", "blue", "black"],
          "like": false,
          })
        </div>
      </div>
    </div>
  </div>
</div>