.product-line {
  margin: 6.0rem 0;
  display: block;
  overflow: hidden;
  @include breakpoint($sm-bp) {
    margin-bottom: 0;
  }
  &__title {
    font-weight: 500;
    font-size: 2.9rem;
    line-height: 1.2em;
    align-items: center;
    font-variant: all-small-caps;
    color: #000000;
    margin-bottom: 3.0rem;

    @media (max-width: 1199px) {
      font-weight: 400;
      margin-bottom: 2.0rem;
    }

    @media (max-width: 1199px) {
      font-size: 2.3rem;
      margin-bottom: 1.5rem;
    }
  }

  &__slider {
    overflow: hidden;
    margin: 0 -1.5rem;

    @media (max-width: 1199px) {
      margin: 0 -1.0rem;
    }

    @media (max-width: 767px) {
      overflow: visible;
      margin: 0 -5px;
    }
  }

  &__slide {
    min-width: 24rem;
    width: 25%;
    padding: 0 1.5rem;

    @media (max-width: 1199px) {
      min-width: 23rem;
      width: 33.33%;
      padding: 0 1.0rem;
    }

    @media (max-width: 767px) {
      min-width: 22rem;
      width: 50%;
      padding: 0 0.5rem;
    }
  }
}