<div class="category-banners">
    <div class="container">
        <div class="category-banners__wrapper">
            <a href="@@item1.link" class="category-banners__item" style="background-image: url(@@webRoot/@@item1.img)">
                <div class="category-banners__content">
                    <h4 class="category-banners__name">@@item1.name</h4>
                </div>
            </a>
            <a href="@@item2.link" class="category-banners__item" style="background-image: url(@@webRoot/@@item2.img)">
                <div class="category-banners__content">
                    <h4 class="category-banners__name">@@item2.name</h4>
                </div>
            </a>
            <a href="@@item3.link" class="category-banners__item" style="background-image: url(@@webRoot/@@item3.img)">
                <div class="category-banners__content">
                    <h4 class="category-banners__name">@@item3.name</h4>
                </div>
            </a>
            <a href="@@item4.link" class="category-banners__item" style="background-image: url(@@webRoot/@@item4.img)">
                <div class="category-banners__content">
                    <h4 class="category-banners__name">@@item4.name</h4>
                </div>
            </a>
        </div>
    </div>
</div>