.profile-sections {
  margin-bottom: 6.0rem;

  @media (max-width: 1199px) {
    margin-bottom: 5.0rem;
  }

  &__nav {

  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      justify-content: space-between;
    }
  }

  &__item {
    font-size: 2.3rem;
    line-height: 1.2em;
    font-variant: all-small-caps;
    color: #000000;

    &:not(:first-child) {
      margin-left: 6.0rem;
    }

    &._active {
      font-weight: 500;
    }

    @media (max-width: 1199px) {
      font-size: 1.5rem;
      font-variant: initial;
      text-transform: uppercase;

      &._exit {
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        bottom: auto;
        font-size: 1.9rem;
        text-transform: initial;
        color: #797979;

        &:hover {
          color: #000000;
        }
      }
    }

    @media (max-width: 767px) {
      font-size: 1.2rem;
      font-variant: all-small-caps;
      text-transform: initial;

      &:not(:first-child) {
        margin-left: 0;
      }

      &._exit {
        font-size: 1.2rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;

    &:hover, &:focus {
      color: inherit;
    }
  }

  @media (max-width: 1199px) {
    &__item._exit &__link {
      &:after {
        width: 100%;
      }
    }
  }
}