<div class="modal _right modal-register" id="modal-register">
    <div class="modal__close"></div>
    <div class="modal__wrapper">
        <div class="modal-register__tabs">
            <a href="#auth" class="modal-register__tab animated-underline" data-modal-id="modal-auth">Авторизация</a>
            <a href="#register" class="modal-register__tab animated-underline _active">Регистрация</a>
        </div>
        <h2 class="modal-register__title">Регистрация</h2>
        <form action="/profile/" class="modal-register__form">
            <div class="modal-register__form-item">
                <label for="register-email" class="form-label">Эл. адрес</label>
                <input type="email" class="form-input" id="register-email" name="email">
            </div>
            <div class="modal-register__form-item">
                <label for="register-tel" class="form-label">Мобильный телефон</label>
                <input type="tel" class="form-input" id="register-tel" name="tel">
            </div>
            <div class="modal-register__form-item">
                <label for="register-password" class="form-label">Пароль</label>
                <input type="password" class="form-input" id="register-password" name="password" autocomplete="new-password">
            </div>
            <div class="modal-register__form-item">
                <label for="register-confirm-password" class="form-label">Подтвердите пароль</label>
                <input type="password" class="form-input" id="register-confirm-password" name="confirm-password" autocomplete="new-password">
            </div>
            <div class="modal-register__form-item _checkbox">
                <label for="register-agree" class="form-label-checkbox">
                    <input type="checkbox" class="form-input-checkbox" id="register-agree" name="agree" value="Y">
                    <span>Я разрешаю использовать мои личные данные в соответствии с конфиденциальным соглашением</span>
                </label>
            </div>
            <div class="modal-register__form-item">
                <input type="submit" class="form-submit" name="register" value="Зарегистрироваться">
            </div>
        </form>
    </div>
</div>