.product-list {

  &__title {
    margin-bottom: 60px;
    font-size: 23px;
    line-height: 1.2em;

    @media (max-width: 1199px) {
      margin-bottom: 30px;
      font-size: 19px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 12px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
    grid-gap: 80px 20px;

    @media (max-width: 1199px) {
      grid-template-columns: repeat(2, calc((100% - 20px) / 2));
      grid-gap: 50px 20px;
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, calc((100% - 10px) / 2));
      grid-gap: 40px 10px;
    }
  }
}