<div class="product-list">
    <div class="container">
        <h3 class="product-list__title">@@title</h3>
        <div class="product-list__wrapper">
            <div class="product-list__item">
                @@include("../product-card/_product-card.html", {
                "name": "Костюм трикотажный c двойным",
                "img": "img/product-1.jpg",
                "price": "7 890 р.",
                "colors": {
                "grey": "Серый",
                "rosybrown": "Розово-коричневый",
                "brown": "Коричневый",
                },
                "like": false,
                })
            </div>
            <div class="product-list__item">
                @@include("../product-card/_product-card.html", {
                "name": "Жакет двубортный «Гусиная лапка»",
                "img": "img/product-2.jpg",
                "price": "7 890 р.",
                "colors": {
                "grey": "Серый",
                "black": "Черный",
                },
                "like": false,
                })
            </div>
            <div class="product-list__item">
                @@include("../product-card/_product-card.html", {
                "name": "Свитер «Леопард»",
                "img": "img/product-3.jpg",
                "price": "7 890 р.",
                "colors": {
                "grey": "Серый",
                "brown": "Коричневый",
                },
                "like": false,
                })
            </div>
            <div class="product-list__item">
                @@include("../product-card/_product-card.html", {
                "name": "Платье расклешённое",
                "img": "img/product-4.jpg",
                "price": "7 890 р.",
                "colors": {
                "black": "Черный",
                },
                "like": false,
                })
            </div>
            <div class="product-list__item">
                @@include("../product-card/_product-card.html", {
                "name": "Костюм трикотажный c двойным",
                "img": "img/product-1.jpg",
                "price": "7 890 р.",
                "colors": {
                "grey": "Серый",
                "rosybrown": "Розово-коричневый",
                "brown": "Коричневый",
                },
                "like": false,
                })
            </div>
            <div class="product-list__item">
                @@include("../product-card/_product-card.html", {
                "name": "Жакет двубортный «Гусиная лапка»",
                "img": "img/product-2.jpg",
                "price": "7 890 р.",
                "colors": {
                "grey": "Серый",
                "black": "Черный",
                },
                "like": false,
                })
            </div>
        </div>
    </div>
</div>